# Selecting and Slicing Data

- Selecting by [rows](#Selecting-Rows) And [columns](#Selecting-Columns)
- Selecting by [criteria](#Selecting-Rows-By-Criteria)
- [Frequency counts](#Frequency-Counts)
- [Top 10](#Top-10-Most-Frequent-Values)
- Pivot tables
- [Turning columns into rows](#Melt) using melt
- Other ways of aggregating data

## Selecting Columns

There are a number of ways you can  select columns; we'll cover the 2 most common. You can put the name of the column in brackets and single quotes:

In [ ]:
members['Member Status']

or you can use  dot notation:

In [ ]:
members.Gender

The advantage of using dot notation is that you can use tab completion with it. 

To select several columns, give Pandas a list of the columns you want in brackets:

In [ ]:
members[['Member Status','Gender']]

You can also select columns and rows at the same time.

## Selecting Rows By Number

For example, if you want the first 10 rows:

In [ ]:
pastries[:10]

You can also select rows and columns at the same time. If you want the member status and gender for the first 10 rows:

In [ ]:
members[['Member Status','Gender']][:10]

## Selecting Rows By Criteria

Pandas  also allows you to select  rooms using criteria. For example, to get every row where a family owns their home:

In [ ]:
housing[ housing['Type'] == "Owner"]

To get every purchase of less than $10:

In [ ]:
purchases[purchases['Price'] < 10]

You can also use & for AND and | for OR. For example, to get every family who owns their home and has more than three members:

In [ ]:
housing[ housing['Type'] == "Owner" & housing['Household Members'] > 3 ]

## Frequency Counts

Use value_counts() to get a breakdown by a variable. For example, to find out how many of each type of pastry was purchased, from highest to lowest number purchased:

In [ ]:
pastries['Type'].value_counts()

## Top 10 Most Frequent Values

To get the top 10, top 20, etc., use value_counts. Since value_counts returns the frequency count in order from largest to smallest, all you need to do is grab the number of rows you want. For example, to get the top 10 most frequently purchased type of pastries:

In [ ]:
pastries['Type'].value_counts()[:10]

If you want to plot the top 5 on a horizontal bar chart using matplotlib:

In [ ]:
pastries['Type'].value_counts()[:5].plot(kind='barh', title='Top 10 Pastries')

matplotlib automatically figures out that you want to make the column "Type" as the x axis and the frequency counts as the y axis.

## Turning Columns into Rows Using Melt

Suppose you have data on meat purchases over time (one of the sample DataFrames in ggplot):

In [1]:
from ggplot import *
meat

To convert some of the columns of meat purchases into rows:

In [3]:
meat_long = pd.melt(meat[['date', 'beef', 'pork', 'broilers']], id_vars='date', var_name='meat_type')
meat_long

         date meat_type  value
0  1944-01-01      beef    751
1  1944-02-01      beef    713
2  1944-03-01      beef    741
3  1944-04-01      beef    650
4  1944-05-01      beef    681
5  1944-06-01      beef    658
6  1944-07-01      beef    662
7  1944-08-01      beef    787
8  1944-09-01      beef    774
9  1944-10-01      beef    834
10 1944-11-01      beef    786
11 1944-12-01      beef    764
12 1945-01-01      beef    820
13 1945-02-01      beef    816
14 1945-03-01      beef    836
15 1945-04-01      beef    736
16 1945-05-01      beef    747
17 1945-06-01      beef    739
18 1945-07-01      beef    736
19 1945-08-01      beef    858
20 1945-09-01      beef    910
21 1945-10-01      beef   1022
22 1945-11-01      beef    933
23 1945-12-01      beef    783
24 1946-01-01      beef    856
25 1946-02-01      beef    827
26 1946-03-01      beef    796
27 1946-04-01      beef    734
28 1946-05-01      beef    605
29 1946-06-01      beef    461
30 1946-07-01      beef    954
31 1946-08-01      beef    871
32 1946-09-01      beef    366
33 1946-10-01      beef    840
34 1946-11-01      beef    844
35 1946-12-01      beef    856
36 1947-01-01      beef    935
37 1947-02-01      beef    778
38 1947-03-01      beef    829
39 1947-04-01      beef    831
40 1947-05-01      beef    846
41 1947-06-01      beef    804
42 1947-07-01      beef    839
43 1947-08-01      beef    766
44 1947-09-01      beef    888
45 1947-10-01      beef    924
46 1947-11-01      beef    813
47 1947-12-01      beef    843
48 1948-01-01      beef    856
49 1948-02-01      beef    662
50 1948-03-01      beef    727
51 1948-04-01      beef    700
52 1948-05-01      beef    650
53 1948-06-01      beef    733
54 1948-07-01      beef    681
55 1948-08-01      beef    705
56 1948-09-01      beef    773
57 1948-10-01      beef    752
58 1948-11-01      beef    744
59 1948-12-01      beef    783
          ...       ...    ...

[2481 rows x 3 columns]